.btn-search, .btn-search {
    border: 1px solid var(--bg-third);
    background-color: var(--bg-third);
    color: var(--text-p);
}

.btn-search:hover, .btn-search:focus {
    background-color: var(--bg-main);
    color: whitesmoke;
}

.btn-play {
    background-color: var(--bg-four);
}

.btn-play:hover, .btn-play:focus {
    background-color: var(--bg-three);
}