.btn-search, .btn-search {
    border: 1px solid var(--btn-border);
    background-color: var(--bg-main);
    color: var(--text-p);
}

.btn-search:hover, .btn-search:focus {
    background-color: #2a454b;
    color: whitesmoke;
}

.btn-play {
    background-color: var(--btn-play);
}

.btn-play:hover, .btn-play:focus {
    background-color: var(--btn-play-hov);
    color: whitesmoke;
}