:root {
    --bg-main: #172a32;
    --bg-navbar: #0e1c26;
    --bg-cards: #1c3139;
    --bg-cards-cont: #0E1C26;
    --bg-cards-cont-2: #13232C;
    --btn-play: #0077b6;
    --btn-play-hov: #0096c7;
    --btn-border: #2a454b;
    --text-h1: #7a7a7a;
    --text-titles: white;
    --text-p: rgb(218, 216, 216);
    --text-button: white;
    --pag-hov: rgb(218, 216, 216);
    --shadow-one: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadow-two: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow-light: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}