@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Raleway:wght@400;700&display=swap');


.btn {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Fredoka', sans-serif;
}

p {    
    font-family: 'Relaway', sans-serif;
    font-family: 'Fredoka', sans-serif;
}

.card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}