@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Josefin+Sans:wght@500&display=swap');


.btn {
    font-family: 'Fredoka', sans-serif;
}

p {    
    font-family: 'Fredoka', sans-serif;
}

.card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}