@import url(./css/styles.css);
@import url(./css/colors.css);
@import url(./css/cards.css);
@import url(./css/buttons.css);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-main);
}